USE [master]
GO
/****** Object:  Database [DBShop]    Script Date: 18/09/2023 9:34:04 SA ******/
CREATE DATABASE [DBShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBShop]
GO
/****** Object:  Table [dbo].[Costomer]    Script Date: 18/09/2023 9:34:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Costomer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Birthdate] [datetime] NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18/09/2023 9:34:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Price] [float] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Costomer] ON 

INSERT [dbo].[Costomer] ([CustomerID], [Name], [Address], [MobileNo], [Birthdate], [Email]) VALUES (1, N'Mai', N'14 Nguyễn Văn Bảo', N'11111', CAST(N'2000-03-12T00:00:00.000' AS DateTime), N'mail@gmail.com')
INSERT [dbo].[Costomer] ([CustomerID], [Name], [Address], [MobileNo], [Birthdate], [Email]) VALUES (2, N'Lan', N'14 Nguyễn Văn Bảo', N'2222', CAST(N'2000-04-02T00:00:00.000' AS DateTime), N'lan@gmail.com')
INSERT [dbo].[Costomer] ([CustomerID], [Name], [Address], [MobileNo], [Birthdate], [Email]) VALUES (3, N'Minh', N'14 Nguyễn Văn Bảo', N'3333', CAST(N'2000-03-01T00:00:00.000' AS DateTime), N'minh@gmail.com')
SET IDENTITY_INSERT [dbo].[Costomer] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [Price]) VALUES (1, N'Pepsi', N'Pepsicola', 5000)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price]) VALUES (2, N'Coca', N'Cocacole', 5500)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price]) VALUES (3, N'ChocoPie', N'Orion', 25000)
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
